
.abc{
    padding:30px;
    background-color: rgb(200, 200, 200);
    border-radius: 20px;
    border-color: blueviolet;
    border-style:groove;
    
}
.aa{
    border-radius:0px;
    background-color: beige;
    padding:30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color:firebrick;
}
.ab{
    background-color: rgb(231, 239, 236);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding:30px;
    border: 20px red;
}
input[type="submit"]{
    
        background-color: rgb(68, 121, 104);
    color: white;
    border-radius: 25px;
    border-color: rgb(40, 104, 82);
    cursor:pointer;
    width:100%;
    height:30px;
}
input[type="submit"]:hover{
    background-color: rgb(4, 126, 4);
}
.a{
    width:100%;
    border-radius: 5px;
    border-color: beige;
    
}